.f-8
{
    font-size: 8px !important;
}
.f-9
{
    font-size: 8px !important;
}
.f-10
{
    font-size: 10px !important;
}
.f-11
{
    font-size: 11px !important;
}
.f-12
{
    font-size: 12px !important;
}
.f-13
{
    font-size: 13px !important;
}
.f-14
{
    font-size: 14px !important;
}
.f-15
{
    font-size: 15px !important;
}
.f-16
{
    font-size: 16px !important;
}
.f-17
{
    font-size: 17px !important;
}
.f-18
{
    font-size: 18px !important;
}
.f-19
{
    font-size: 19px !important;
}
.f-20
{
    font-size: 20px !important;
}

.slider
{
    height: 240px;
    background-position:center;
}
.info
{
    height: 200px;
    background-position:center;
}

.slider-title
{
    position: absolute;
    bottom: 25px;
    background: rgba(255,255,255,0.8);
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0px;
    font-weight: 400;
    
}

.slider-title span
{
    position: absolute;
    bottom: 0px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 14px;
    right: 0px;
    margin-right: 10px;
}

.view-switcher i
{
    font-size: 24px;
    line-height: 31px;
}

.view-switcher .toggle-switch
{
    margin-top: 7px;
}

ul.no-float li
{
    display:block !important;
}

.clear
{
    clear: both;
}
.list-view .line
{
    width: 100%;
}
.list-view .line .card
{
    margin-bottom: 5px;
}

.list-view .line .card-header
{
    float: left;
    height: 90px;
    width: 25%;
}

.list-view .line .card-body
{
    float: left;
    height: 90px;
    width: 75%;
    padding-top:5px;
    padding-bottom: 0px;
    padding-left:5px;
}

.list-view .line .card-body > *
{
    display: table-cell;
}
.list-view .line img
{
    min-height:80px;
    min-height:80px;
    max-height:80px;
    max-width: 80px;
}

.list-view .line a.pmo-map
{
    display: table-cell;
    min-width: 80px;
    vertical-align: middle;
    margin-right: 5px;
}
.list-view .line div.pmo-contact
{
    display: table-cell;
    width: 100%;
    padding-left: 15px;
    vertical-align: middle; 

}

.list-view .line div.pmo-contact ul
{
    display: table;
    width: 100%;
}

.list-view .line div.pmo-contact ul li
{
    vertical-align: middle; 
    display: table-cell;
    width: 50%;
}

.list-view .line div.pmo-contact ul li:first-child
{
    width:25%
}
.list-view .line div.pmo-contact ul li:last-child
{
    width:75%
}

.social-login .btn-icon .zmdi
{
    font-size: 22px ;
    line-height: 40px;
    height:40px;
}

.zmdi-ok:before
{
    content: "\00a0\00a0";
    -webkit-mask: url("../img/ok-icon.svg") no-repeat 50% 67%;
    mask: url(../img/ok-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: 100% 100%;
    mask-size:  100% 100%;
    background-size:  100% 100%;
    background-color: white;
    left: 0px;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.zmdi-at:before
{
    content: "\00a0\00a0\00a0";
    -webkit-mask: url("../img/at-icon.svg") no-repeat 50% 50%;
    mask: url(../img/at-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size:  100% 100%;
    mask-size:  100% 100%;
    background-size:  100% 100%;
    background-color: white;
    left: 0px;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.zmdi-ya:before
{
    content: "\00a0\00a0\00a0";
    -webkit-mask: url("../img/ya-icon.svg") no-repeat 50% 50%;
    mask: url(../img/ya-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size:  100% 100%;
    mask-size:  100% 100%;
    background-size:  100% 100%;
    background-color: white;
    left: 0px;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-navigation > li:not(:hover) {
    border-radius: 10px !important;
    padding: 0 5px !important;
    font-size: 8px !important;
}

.tab-nav.drop-down-visible
{
    overflow: visible!important;
}

.tab-nav.drop-down-visible li.dropdown 
{
    overflow: visible!important;
}

.carousel-indicators
{
    z-index: 8 !important;
}

#sidebar.toggled
{
    z-index:999;
}
#menu-trigger:before {
    background: rgba(0,0,0,0.1);
}

#footer
{
}

.bs-0
{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.3) !important;
}

ul.chosen-choices li.search-field input
{
    width: 100% !important;
}

.bs-searchbox .form-control:not(:disabled)
{
    background-color: transparent;
}

.bootstrap-select.btn-group .dropdown-toggle .caret
{
    display: none;
}

.bootstrap-select > .btn-default:before
{
    z-index: 0;
}

header .btn-group li.active:after
{
    content:"";
    position: absolute;
    background-color: orange;
    width: 100%;
    height:2px;
    bottom:0px;
    z-index:999;
    left:0px;
}

header
{
    height: auto !important;
}

#profile-main .pm-overview.right
{
    right:0px;
    left:auto;
    width: 220px;
}

#profile-main.two-column .pm-body
{
    padding-right:250px;
    padding-left:300px;
}

.pmbb-header ul
{
    list-style:none;
}

body .main-page #content
{
    padding-top: 60px;
}


body .main-page.not-auth #content
{
    padding-top: 30px;
}

.admin-menu
{
    display: block;top: 0px;width: 100%;
    margin-top:0px;
     position: relative !important;
}

.pm-overview.admin
{
        overflow-y: visible !important;
     position: relative !important;
     float:left;
     width: 250px !important;
}
.admin-menu li > ul
{
    list-style:none;
    margin-left:0px;
    padding-left:0px;
}
.admin-menu li > ul >li
{
    list-style:none;
}
.admin-menu li > ul >li >a
{
    font-weight: 300;
    color: #fff;
}


.admin-menu li > ul >li >a {
    display:block;
    padding: 8px 17px;
    padding-left: 60px;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    font-family: roboto;
}

.admin-menu li > ul >li >a:hover, .admin-menu li > ul >li >a:focus {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0,0,0,0.075);
}
.pm-body.admin
{
        width: 890px;
        float:left;
}